@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e112de1;
    --foreground: #372c2c;
  }
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 1px;
}


/*Left Navbar*/

.leftnavbar::-webkit-scrollbar {
  display: none;
}

.leftnavbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  border-radius: 2px;
  box-shadow: -5px 10px 8px 10px rgba(36, 4, 25, 0.587);
  background-color: hsl(303, 26%, 16%);
  width: 150px;
  height: 100vh;
  color: #f9e8e8;
}



/*maincontent*/

.maincontent::-webkit-scrollbar {
  display: none;
}

.maincontent {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  height: 100vh;
  color: #f9e8e8;
}

/*form-trade*/
.trade-form
{
  box-shadow: 0px 1px 6px 2px rgba(17, 14, 28, 0.633);
  width: 90%;
  max-width: 450px;
}

/*trade-history*/
.trade-history {
  scrollbar-width: none; /* For Firefox */
}

.trade-history::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.graph-container {
  padding: 5%;
}

@media (max-width: 768px) {
  .trade-form-container {
    flex-direction: column;
    align-items: center;
  }
  .trade-history {
    min-height: auto;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .leftnavbar {
    display: none;
  }

  .total-amount{
    font-size: medium;
    text-align: center;
    padding-left: 2rem;
  }
}

/* Tablet Styles */
@media (max-width: 900px) {
    body {
        font-size: 16px;
    }
    .container {
        flex-direction: row;
        padding: 20px;
    }

    .trade-form-container
    {
      width: 80%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .trade-history 
    {
      width: 80%;
      padding-bottom: 30px;
    }

    .graph
    {
      width: 90%;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 1rem;
    }
}

/* Desktop Styles */
@media (min-width: 901px) {
    body {
        font-size: 18px;
    }
    .container {
        flex-direction: row;
        padding: 30px;
    }

    .trade-history
    {
      padding-bottom: 620px;
    }
}
